<body class="bg-light m-0 text-dark overflow-hidden">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-6 d-none d-lg-block p-0 bg-dark vh-100">
            <div class="bgImg imgC bg-image"></div>
        </div>
        <div class="col">
            <a href="/"><img src="/img/brand/K_dark.png" alt="Logotipo Klouts" style="width: 64px;" class="position-relative start-50 translate-middle"></a>
            <form action="/registerCompany" method="POST" class="needs-validation" novalidate>
                <div class="row mx-2 justify-content-center">
                    <div class="col-sm-8 col-xl-7">
                        <div class="mb-3 text-center">
                            <h1 class="text-uppercase">Registro empresa</h1>
                            <p class="d-none d-md-block lead text-muted">Encontrar la vestimenta que buscabas nunca fue tan fácil y rápido como ahora</p>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control rounded-0" id="name" name="name" placeholder="Nombre de la empresa" value="{{name}}" required>
                            <label for="name">Nombre de la empresa</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="email" class="form-control rounded-0" id="mail" name="mailEmpresa" placeholder="name@example.com" value="{{mailEmpresa}}" required>
                            <label for="mail">E-mail</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control rounded-0" id="pass" name="pass" placeholder="Password" value="{{pass}}" required>
                            <label for="pass">Contraseña</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control rounded-0" id="pass2" name="passwordConfirm" placeholder="Password" value="{{pass2}}" required>
                            <label for="pass2">Repita su contraseña</label>
                        </div>
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control rounded-0 input-number" id="rut" name="rut" placeholder="RUT" value="{{rut}}" required onKeyPress="if(this.value.length==12) return false;">
                                        <label for="rut">RUT</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" name="razon" id="razon" required style="height: 58px;">
                                        <option selected value="">Razón social</option>
                                        <option value="Unipersonal">Unipersonal</option>
                                        <option value="Sociedad Anónima">Sociedad Anónima</option>
                                        <option value="Sociedad Limitada">Sociedad Limitada</option>
                                        <option value="Sociedad Cooperativa">Sociedad Cooperativa</option>
                                        <option value="Sociedad Limitada Nueva Empresa">Sociedad Limitada Nueva Empresa</option>
                                        <option value="Sociedad Limitada Llaboral">Sociedad Limitada Laboral</option>
                                        <option value="Sociedad Anonima Laboral">Sociedad Anónima Laboral</option>
                                        <option value="Sociedad Comanditaria Simple">Sociedad Comanditaria Simple</option>
                                        <option value="Otra">Otra</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-4">
                            <button type="submit" class="text-uppercase rounded-0 btn btn-dark">Registrar empresa</button>
                            <small>Nota: Al registrarte estás de acuerdo con nuestros términos y condiciones detallados <a href="/terms">AQUÍ.</a></small> 
                        </div>
                        {{#if message }}
                            <p class="text-danger text-center mt-1">{{message}}</p>
                        {{/if}}
                        {{#if registroCompleto }}
                            <p class="text-success text-center mt-1">{{registroCompleto}} <a href="/login" class="link-info">aquí</a> </p>
                        {{/if}}
                        <div class="mb-3">
                            <div class="row justify-content-center">
                                <div class="col-auto mb-1">
                                    ¿Ya tienes cuenta? <a href="/login" class="link-info">Iniciar sesión</a>
                                </div>
                                <div class="col-auto">
                                    <a href="/register" class="link-info">Registra tu cuenta personal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>