{{>navigation}}
<div class="container mt-5">
<form action="/profile/edit/{{user.id}}" method="POST"> 
        <div class="mb-3"> 
          <label for="name" class="form-label1">Nombre</label>
          <input type="User" class="form-control" id="name" name="nombre" value="{{user.nombre}}">
        </div>
          <div class="mb-3"> 
         <label for="pass2" class="form-label">Contraseña actual</label> 
          <input type="password" class="form-control" id="pass" name="pass" value="{{pass}}"> 
          <div class="col-auto">
          </div> 
        </div>
        <div class="mb-3"> 
         <label for="pass2" class="form-label">Nueva contraseña</label> 
          <input type="password" class="form-control" id="pass" name="newPass" value="{{newPass}}"> 
          <div class="col-auto">
        </div> 
        <br>
        <div class="mb-3"> 
         <label for="pass2" class="form-label">Confirmación de la nueva contraseña</label> 
          <input type="password" class="form-control" id="pass" name="newPassConfirm" value="{{newPassConfirm}}"> 
          <div class="col-auto">
        </div> 
        {{!--
        <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="Cambiar contraseña" class="checkbox no-bg validation-passed">
        <label for="change_password">Cambiar contraseña</label> --}}
        <div class="mb-3">
          <div class="d-grid gap-2">
            <br>
            <button type="submit" class="text-uppercase btn btn-dark" name="guardar" id="guardar">Editar datos</button>
          </div>
          {{#if message }}
           <p class="text-danger text-center mt-1">{{message}}</p>
          {{/if}}
          {{#if editCompleto }}
          <p class="text-success text-center mt-1">{{editCompleto}}</p>
          {{/if}}
      </form>
</div>