{{>navigation}}
<div class="container mt-5">
<form action="/profile/edit/{{data.id}}" method="POST" class="needs-validation" novalidate> 
<div class="card col-sm-12 col-md-8">
<div class="card-body s">
            <h2 class="d-flex justify-content-center">Ajustes de cuenta</h2>
        <div class="form-floating mb-3"> 
          <input type="User" class="form-control" placeholder="Nombre Completo" id="name" name="nombre" value="{{data.nombre}}" required>
          <label for="name">Nombre Completo</label>
        </div>
        <p>¿Deseas cambiar la contraseña? <a href="/profile/edit/pass/{{data.id}}">Click aquí</a></p>
        <div class="mb-3">
          <div class="d-grid gap-2">
            <button type="submit" class="text-uppercase btn btn-dark" name="guardar" id="guardar"><i class="fas fa-save"></i> Guardar cambios</button>
        
          </div>
          {{#if message }}
           <p class="text-danger text-center mt-1">{{message}}</p>
          {{/if}}
          {{#if editCompleto }}
          <p class="text-success text-center mt-1">{{editCompleto}}</p>
          {{/if}}
</form>
  <form action="/profile/delete/{{data.id}}" method="post">
    <div class="mb-3"></div>
        <button type="submit" class="text-uppercase btn btn-danger" name="delete" id="delete" onclick="return confirm('¿Está seguro que desea eliminar su cuenta?');"><i class="fas fa-ban"></i> Eliminar cuenta</button>
    </div>
  </form>
      </form>
</div>
</div>
</div>
<script>
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>