{{>navigation}}
<div class="container mt-5">
    <div class="d-flex card p-3 s p-3 mb-5 bg-body">
        <div class="card-body">
            <form action="/profile/edit/{{data.id}}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div class="my-3 text-center">
                    <h2>Datos de cuenta</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <p>¿Deseas cambiar la contraseña? <a href="/profile/edit/pass/{{data.id}}">Click aquí</a></p>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="email" class="form-control" id="validationCustom01" name="mail" placeholder="name@example.com" value="{{data.email}}" required>
                            <label for="mail">E-mail</label>
                            <small class="ms-1 text-danger">Atención: ¡Si cambias tu dirección de correo electrónico tendrás que volver a iniciar sesión!</small>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="." value="{{data.nombre}}" required>
                            <label for="nombre">Nombre de la tienda</label>
                            <small class="ms-1 text-muted">Con este nombre las personas te identificarán en la página</small>
                        </div>
                        <div class="mb-3 form-floating">
    
    
                
                            <select class="form-select" name="razon" id="razon" style="height: 58px;">
                                <option value="{{data.razonSocial}}">{{data.razonSocial}}</option>
                                {{#ifCond data.razonSocial '!=' 'Sociedad Anonima'}}
                                    <option value="Sociedad Anonima">Sociedad Anónima</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Sociedad Limitada'}}
                                    <option value="Sociedad Limitada">Sociedad Limitada</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Sociedad Cooperativa'}}
                                    <option value="Sociedad Cooperativa">Sociedad Cooperativa</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Sociedad Limitada Nueva Empresa'}}
                                    <option value="Sociedad Limitada Nueva Empresa">Sociedad Limitada Nueva Empresa</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Sociedad Limitada Laboral'}}
                                    <option value="Sociedad Limitada Laboral">Sociedad Limitada Laboral</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Sociedad Anonima Laboral'}}
                                    <option value="Sociedad Anonima Laboral">Sociedad Anónima Laboral</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Sociedad Comanditaria Simple'}}
                                    <option value="Sociedad Comanditaria Simple">Sociedad Comanditaria Simple</option>
                                {{/ifCond}}
                                {{#ifCond data.razonSocial '!=' 'Otra'}}
                                    <option value="Otra">Otra</option>
                                {{/ifCond}}
                            </select>
                            <label for="razon" placeholder="Razón Social">Razón Social</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción del perfil" maxlength="155">{{data.descripcion}}</textarea>
                            <label for="descripcion">Descripción del perfil</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Ej: 092776255" value="{{data.telefono}}">
                            <label for="telefono">Teléfono</label>
                            <small class="ms-1 text-muted">Este número de teléfono aparecerá públicamente en el perfil de la tienda.</small>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ej: 18 de Julio y Ruta 3" value="{{data.direccion}}">
                            <label for="direccion">Dirección</label>
                            <small class="ms-1 text-muted">Esta dirección aparecerá públicamente en el perfil de la tienda.</small>
                        </div>
                        <div class="mb-3">
                            {{#if message }}
                                <p class="text-danger text-center mt-1">{{message}}</p>
                            {{/if}}
                            {{#if editCompleto }}
                                <p class="text-success text-center mt-1">{{editCompleto}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="p-3">
                            {{#if data.fotoPerfil}}
                                <img src="data:imagen/png;base64, {{data.fotoPerfil}}" alt="Foto de perfil de {{data.nombre}}" class="img-fluid rounded-circle" style="z-index: 1;">
                            {{else}}
                                <img src="/img/avatar.png" alt="Foto de perfil genérica" class="img-fluid rounded-circle" style="width: max-content; z-index: 1" id="imagen">
                            {{/if}}
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label fw-bold">Cambiar foto de perfil</label>
                            <input class="form-control" type="file" id="formFile" name="imagen">
                        </div>
                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-dark" href="/profile/{{data.nombre}}">Ver perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="text-uppercase btn btn-success" name="guardar" id="guardar"><i class="fas fa-check"></i> Aplicar cambios</button>
                    </div>
                </div>
            </form> <br>
            {{!-- <div class="mb-3">
                
                        <input type="color" value="#000000"> --}}
                    <h3>Tus redes sociales</h3>
                    {{#if enlaces}}
                    <table class="table table-striped table-bordered table-hover border-3 text-center">
                        <thead>
                            <tr>
                                <th>Red social</th>
                                <th>Enlace</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each enlaces}}
                            <tr class="">
                                <td class="text-nowrap align-middle"><span>{{tipo}}</span></td>
                                <td class="text-nowrap user-select-all align-middle"><span>{{URL}}</span></td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top m-2">
                                        <form action="/profile/enlaces/delete/{{tipo}}" method="POST">
                                            <button style="margin-right: 10px;" title="Eliminar" class="btn btn-outline-danger" id="delete" name="delete" onclick=""> <i class="fas fa-trash"></i> </button>
                                        </form>
                                        <form action="/profile/enlaces/edit/{{id}}" method="GET">
                                            <button style="margin-right: 10px;" title="Editar" class="btn btn-outline-dark"> <i class="fas fa-edit"></i> </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}  
                        </tbody>
                    </table>
                {{#ifCond redes '<' 3}}
                <a href="/profile/newEnlace/{{data.id}}"><button class="btn btn-outline-dark">Agregar red social</button></a>
                {{/ifCond}}
                {{else}}
                    <p>No tienes redes sociales agregadas, puedes agregar algunas <a href="/profile/newEnlace/{{data.id}}">aquí</a></p> 
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>