{{>navigation}}
<div class="container mt-5">
<form action="/profile/edit/{{user.id}}" method="POST" class="needs-validation" novalidate> 
        <div class="mb-3"> 
          <label for="name" class="form-label1">Nombre</label>
          <input type="User" class="form-control" id="name" name="nombre" value="{{user.nombre}}" required>
        </div>
        <p>¿Deseas cambiar la contraseña? <a href="/profile/edit/pass/{{data.id}}">Click aquí</a></p>
        <div class="mb-3">
          <div class="d-grid gap-2">
            <button type="submit" class="text-uppercase btn btn-dark" name="guardar" id="guardar">Editar nombre</button>
          </div>
          {{#if message }}
           <p class="text-danger text-center mt-1">{{message}}</p>
          {{/if}}
          {{#if editCompleto }}
          <p class="text-success text-center mt-1">{{editCompleto}}</p>
          {{/if}}
</form>
  <form action="/profile/delete/{{user.id}}" method="post">
    <div class="mb-3"></div>
        <button type="submit" class="text-uppercase btn btn-dark" name="delete" id="delete">Eliminar cuenta</button>
    </div>
  </form>
</div>
<script>
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>