{{>navigation}}
<div class="container mt-5">
  <div class="card s col-md-12 col-lg-8 align-middle">
    <div class="card-body">
<h3 class="d-flex justify-content-center">Editar redes sociales</h3>
<form action="/profile/enlaces/edit/{{user.id}}" method="POST" class="needs-validation" novalidate> 
      {{#each enlaces}}
      <hr class="hr">
        <label class="fs-5 m-1">Tipo de red social</label>  
        <select class="form-select" name="tipo" id="tipo" required disabled>
        <option value="{{tipo}}">{{tipo}}</option>
        </select>
        <br>
        <div class="mb-3"> 
            <label for="link" class="form-label fs-5 m-1">Link de la red social</label> 
                <input type="url" pattern="https://.*" placeholder="https://instagram.com/ejemplo" class="form-control" id="link" name="{{tipo}}" value="{{URL}}" required> 
            <div class="col-auto">
        </div> 
        {{!--
        <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="Cambiar contraseña" class="checkbox no-bg validation-passed">
        <label for="change_password">Cambiar contraseña</label> --}}
        <div class="mb-3">
          <div class="d-grid gap-2">
            <br>
          </div>
          {{#if message}}
           <p class="text-danger text-center mt-1">{{message}}</p>
          {{/if}}
          {{#if linkAgregado }}
          <p class="text-success text-center mt-1">{{linkAgregado}}</p>
          {{/if}}
          {{/each}}
          <button type="submit" class="text-uppercase btn btn-success"><i class="fas fa-check"></i> Aplicar Cambios</button>
</form>

</div>
<script>
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>