{{>navigation}}
<body class="bg-light m-0 text-dark">
<div class="text-white d-flex flex-row mb-5" style="background-color: darksalmon;">
    <div class="shopBanner container mt-5 mb-5">
      <div class="row">
          <div class="col-sm-12 col-md-3 jumbotron d-flex align-items-center mb-5 mb-md-0">
            {{!-- <div class="jumbotron vertical-center"></div> --}}
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Generic placeholder image" class="img-fluid rounded-circle img-thumbnail" style="width: max-content; z-index: 1">
          </div>
          <div class="col">
              <h2 class="text-center text-uppercase">{{data.nombre}}</h2>
              <p style="font-size: 1rem;">{{profile.descripcion}}</p>
              <hr>
              <div class="row">
                <div class="col-auto">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col-auto mb-1">
                  <p class="m-0"><strong>Dirección</strong></p>  
                  <p>{{profile.direccion}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <i class="fas fa-phone-alt"></i>
                </div>
                <div class="col-auto mb-1">
                  <p class="m-0"><strong>Teléfono</strong></p>  
                  <p>{{profile.telefono}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a class="btn btn-primary" style="background-color: #ac2bac; border: 0px;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col">
                  <a class="btn btn-primary" style="background-color: #3b5998; border: 0px;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="col">
                  <a class="btn btn-primary" style="background-color: #25d366; border: 0px;" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container mb-5">
  <div class="row row-cols-lg-3 row-cols-sm-1 g-4">
    {{#if publicacion}}
    {{#each publicacion}}
    <div class="col">
      <a href="/publication/{{nroPublicacion}}" class="link-unstyled">
      <div class="card rounded-0">
        <img src="/img/testing/item1.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">{{titulo}}</h5>  
          <p class="card-text">
            {{descripcion}}
          </p>
        </div>
      </div>
      </a>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
{{!-- 
<div class="container">
  <div class="row">
                <div class="col">
                  <button type="button" class="rounded-0 btn btn-dark mt-3" data-mdb-ripple-color="dark" style="z-index: 1;">Edit profile</button>
                </div>
              </div>


              <div class="card">
                <img src="https://instagram.fmvd4-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/227663048_500687264350771_3363323004031992259_n.jpg?_nc_ht=instagram.fmvd4-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=8SLc6QRONVMAX-dEnTX&edm=AABBvjUBAAAA&ccb=7-4&oh=ce09682189a55c5ca1bf18483d02b4b6&oe=614D82B0&_nc_sid=83d603" alt="">
              </div>
  <div class="mb-5">
    
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Web Developer</p>
                <p class="font-italic mb-1">Lives in New York</p>
                <p class="font-italic mb-0">Photographer</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(112).jpg" alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(107).jpg" alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(108).jpg" alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(114).jpg" alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
</div>
</body> --}}