{{#each link}}
    <div class="col">
        <div class="card">
            <div class="cardbody p-5">
                <h1>{{tipo}}</h1>
                <p>{{help}}</p>
                <form action="/links/update/{{tipo}}" method="POST">
                    <div class="form-floating mb-3">
                        <input class="form-control" name="{{tipo}}" id="{{tipo}}" type="text" placeholder="Número de teléfono" value="{{URL}}" onKeyPress="if(this.value.length==9) return false;">
                        <label for="{{tipo}}">Enlace de {{tipo}}</label>
                        {{!-- <small class="text-muted">{{wpplink}}</small> --}}
                    </div>
                    <div class="row">
                        {{#if URL}}
                        <div class="col pe-0">
                            <button type="submit" class="btn btn-primary w-100">Actualizar</button>
                        </div>
                        <div class="col-auto ps-0">
                            <a href="/links/delete/{{tipo}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                        {{else}}
                        <div class="col">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/each}}