{{#if user}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    {{else}}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        {{/if}}
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                {{#if user }}
                <img src="/img/brand/Klouts_light.png" width="120"></a>
            {{else}}
            <img src="/img/brand/Klouts_dark.png" width="120">
            {{/if}}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <i class="fas fa-bars"></i>
            </button>{{!-- <div class="flex">
                <button type="button" class="btn btn-light" style="margin-right:5px"><i
                        class="fas fa-search"></i></button>
            </div> --}}
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mb-lg-0">
                    {{#if user }}
                    <div class="container-fluid">
                        <div class="translate-middle-x">
                            <form>
                                <div class="col-lg-10 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control rounded-0" id="validationDefaultUsername"
                                            placeholder="Buscar ropa, tiendas y marcas..." aria-describedby="inputGroupPrepend2" size="40px">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-light" style="margin-right:5px"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </form>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><span
                                class="me-1">{{user.nombre}}</span></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#ifCond user.tipo '==' 'usuario'}}
                            <li class="nav-item"><a class="dropdown-item" href="/favorites"><i class="fas fa-star"></i>
                                    Favoritos</a></li>
                            {{/ifCond}}
                            <li class="nav-item"><a class="dropdown-item" href="/profile"><i class="fas fa-user"></i>
                                    Perfil</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/profile/edit/{{user.id}}"><i
                                        class="fas fa-pen"></i> Editar perfil</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/logout"><i
                                        class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                        </ul>
                    </li>
                    {{else}}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    {{/if}}
                    {{#ifCond user.tipo '==' 'empresa'}}
                    <li class="nav-item"><a class="nav-link" href="/list">Mis publicaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create">Hacer publicacion</a></li>
                    {{/ifCond}}
                </ul>

                {{!-- <form class="d-flex input-group w-auto">
                    <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
                    <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">Search</button>
                </form> --}}

            </div>
        </div>
    </nav>