{{#if user}}
{{!-- Navbar de usuario --}}
<nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #182023;">
{{else}}
{{!-- Navbar de usuario anónimo --}}
<nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-light bg-light">
{{/if}}
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {{#if user }}
                <img src="/img/brand/Klouts_light.png" width="120"></a>
            {{else}}
                <img src="/img/brand/Klouts_dark.png" width="120">
            {{/if}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar">

            {{!-- Buscador --}}
            <form action="/search" method="POST">
                <div class="row search-box mx-1">
                    <div class="col d-flex">
                        <input type="text" class="input-search w-100" name="palabra" id="buscador" placeholder="Buscar ropa, tiendas o marcas..." value="{{palabra}}">
                    </div>
                    <div class="col-auto p-0">
                        <button class="btn btn-outline-light" type="submit">
                            <i class="fas fa-search"></i>
                        </button>   
                    </div>
                </div>
            </form>

            {{!-- Lista desplegable --}}
        
            <ul class="navbar-nav ms-auto mb-lg-0">
                {{#if user }}
                    {{#with user}}
                        {{#ifCond data.tipo '==' 'usuario'}}
                            <li class="nav-item">
                                <a title="Favoritos" class="nav-link" href="/favorites">
                                    <span class="d-inline d-lg-none">Favoritos</span>
                                    <i class="fas fa-heart d-none d-lg-inline"></i>
                                </a>
                            </li>
                        {{/ifCond}}
                        <li class="nav-item">
                            <a title="Notificaciones" class="nav-link" href="/notifications">
                                <span class="d-inline d-lg-none">Notificaciones</span>
                                <i class="fas fa-bell d-none d-lg-inline position-relative">
                                    {{#if notification}}
                                        <span style="font-size: 10px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{notification}}</span>
                                    {{/if}}
                                </i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="me-1">{{data.nombre}}{{nombre}}</span></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{#ifCond data.tipo '==' 'empresa'}}
                                    <li class="nav-item"><a class="dropdown-item" href="/profile/{{data.nombre}}?page=1"><i class="fas fa-user"></i> Perfil</a></li>
                                {{/ifCond}}
                                <li class="nav-item"><a class="dropdown-item" href="/profile/edit/{{data.id}}"><i class="fas fa-pen"></i> Editar perfil</a></li>
                                <li class="nav-item"><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                            </ul>
                        </li>
                        {{#ifCond data.tipo '==' 'empresa'}}
                            <li class="nav-item"><a class="nav-link" href="/list">Mis publicaciones</a></li>
                            <li class="nav-item"><a class="nav-link" href="/list/questions">Preguntas</a></li>
                            <li class="nav-item"><a class="nav-link" href="/create?newPublication=true">Hacer publicacion</a></li>
                        {{/ifCond}}
                    {{/with}}
                {{else}}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>