{{>navigation}}
<div class="container">
<form action="/profile/edit/{{user.mail}}" method="POST"> 
        <div class="mb-3"> 
          <label for="name" class="form-label1">Nombre</label>
          <input type="User" class="form-control" id="name" name="nombre" value="{{user.nombre}}">
        </div>
        <div class="mb-3">
          <label for="mailUsuario" class="form-label">Email</label>
          <input type="text" class="form-control" id="mailUsuario" aria-describedby="emailHelp" name="mail2" value="{{user.mail}}">
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Antigua contraseña</label>
          <input type="password" class="form-control" id="pass" name="pass" value="{{pass}}">
          <label for="pass2" class="form-label">Nueva contraseña</label>
          <input type="password" class="form-control" id="pass2" name="pass2" value="{{pass2}}">
          <div class="col-auto">
          </div>
        </div>
        <div class="mb-3">
          <div class="d-grid gap-2">
            
            <button type="submit" class="text-uppercase btn btn-dark">Editar datos</button>
          </div>
          {{#if message }}
           <p class="text-danger text-center mt-1">{{message}}</p>
          {{/if}}
          {{#if editCompleto }}
          <p class="text-success text-center mt-1">{{editCompleto}}</p>
          {{/if}}
      </form>
</div>