{{>navigation}}
<div class="container">
    {{#if notifications}}
        {{#each notifications}}
        <div class="row-cols-2">
            <div class="col-6">
            <div class="card my-3">
                <div class="row g-0">
                    <div class="d-none d-md-block col-2">
                        {{#if imagen}}
                            <img src="data:imagen/png;base64, {{imagen}}" style="display: block; object-fit: cover; height: 100%;" class="img-fluid rounded-start" alt="...">
                        {{else}}
                            <img src="./img/Generic.png" style="display: block; object-fit: cover; height: 100%;" class="img-fluid rounded-start" alt="...">
                        {{/if}}
                    </div>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-center align-items-center">
                        <div class="card-body p-5">
                            {{#if respuesta}}
                                <p class="card-text mb-1">
                                    <small class="text-muted">
                                        {{timeago fechaRespuesta}}
                                        {{#ifCond visto '==' 0}}
                                            <span class="ms-2 badge rounded-pill bg-danger">Notificación nueva</span>
                                        {{/ifCond}}
                                    </small>
                                </p>
                                <h5 class="card-title"><span>{{vendedor}}</span> ha respondido tu pregunta</h5>
                                <small class="card-text text-muted">{{mensaje}}</small>   
                                <p class="card-text">{{respuesta}}</p>
                            {{else}}
                                <p class="card-text mb-1">
                                    <small class="text-muted">
                                        {{timeago fechaPregunta}}
                                        {{#ifCond visto '==' 0}}
                                            <span class="ms-2 badge rounded-pill bg-danger">Notificación nueva</span>
                                        {{/ifCond}}
                                    </small>
                                </p>
                                <h5 class="card-title"><span>{{remitente}}</span> ha realizado una pregunta</h5>
                                <p class="card-text">{{mensaje}}</p>
                            {{/if}}
                            <div class="d-sm-grid d-md-block gap-2">
                                {{!-- <form action="/notifications/delete/{{idNotificacion}}" method="POST">
                                    <button class="btn btn-danger">Eliminar notificación</button>
                                </form>
                                --}}
                                <a href="/publication/{{idPublicacion}}" class="btn btn-success link-unstyled">Ver publicación relacionada</a> 
                                <button class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
        {{/each}}
    {{else}}
        <div class="row d-flex justify-content-center">
            <div class="col-10 p-5 text-center">
                <div>
                    <h2>No tienes notificaciones</h2>
                </div>
                {{#ifCond user.data.tipo '==' 'empresa'}}
                <div class="text-muted">
                    <p>Aquí encontrarás todos las notificaciones que recibas. Las mismas se mostrarán aquí cuando los usuarios hagan preguntas en tus publicaciones.</p>
                    <a href="/list">Tus publicaciones</a>
                </div>
                {{/ifCond}}
                {{#ifCond user.data.tipo '==' 'usuario'}}
                <div class="text-muted">
                    <p>Aquí encontrarás todas las notificaciones que recibas. Las mismas se mostrarán cuando las tiendas respondan las preguntas que hagas en sus publicaciones.</p>
                    <a href="/">Ir al catálogo</a>
                </div>
                {{/ifCond}}
            </div>
        </div>
    {{/if}} 
</div>