<%-include("template/header", {title:'Registro de cuenta'}) %>
<body class="bg-light m-0 text-dark overflow-hidden">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-6 bg-dark vh-100 d-none d-lg-block p-0">
            <div class="bgImg imgB bg-image"></div>
        </div>
        <div class="col">
            <a href="/"><img src="/img/brand/K_dark.png" alt="Logotipo Klouts" style="width: 64px;" class="position-relative start-50 translate-middle"></a>
            <form class="form" action="">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="mb-3 text-center">
                            <h1 class="text-uppercase">Registro de cuenta</h1>
                            <p class="d-none d-md-block lead text-muted">Encontrar la vestimenta que buscabas nunca fue tan fácil y rápido como ahora</p>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre completo</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= locals.name ? name:'' %>">
                        </div>
                        <!-- EMAIL DE TIPO EMAIL O DE TIPO TEXTO??? -->
                        <div class="mb-3">
                            <label for="mail" class="form-label">Email</label>
                            <input type="email" class="form-control rounded-0" id="mail" name="mail" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="pass" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="pass" name="pass" value="<%= locals.pass ? pass:'' %>">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputUser1" class="form-label1">Repita la contraseña</label>
                            <input type="password" class="form-control" id="pass2" name="pass2" value="<%= locals.pass2 ? pass2:'' %>">
                        </div>  
                        <div class="d-grid gap-2 mb-4">
                            <button type="submit" class="text-uppercase rounded-0 btn btn-dark">Crear cuenta</button>
                        </div>
                        <div class="mb-3">
                            <div class="row justify-content-center">
                                <div class="col-auto mb-1">
                                    ¿Ya tienes cuenta? <a href="/login" class="link-info">Iniciar sesión</a>
                                </div>
                                <div class="col-auto">
                                    ¿Eres una empresa? <a href="/registerCompany" class="link-info">Registra tu empresa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include("template/footer") %>