<%-include("template/header", {title:'Página Principal'}) %>
<body style="background-color: #343a40;">
  
  <%- include("template/nav") %>

  <div class="position-absolute top-50 start-50 translate-middle">
  <div class="d-inline-flex p-2 bd-highlight">
    <div class="card mb-5" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-4" style="background-color: #dee2e6;"> <br> <br> <br> 
          <img src="img/clothing-shop.svg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
    <div class="card-body">
      <% if(typeof alert !='undefined'){ %>
        <% alert.forEach((error)=>{ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong><%= error.msg %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <% } ) %>
    <% } %>
    <form method="post" action="/registerEmpresa">
        <h5>Completa los datos de tu Empresa</h5>
        <div class="mb-3"> 
          <label for="exampleInputName" class="form-label">Nombre de la empresa</label> 
          <input type="text" class="form-control" id="name" name="name" value="<%= locals.name ? name:'' %>"> 
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="mailEmpresa" aria-describedby="emailHelp" name="mailEmpresa" value="<%= locals.mailEmpresa ? mailEmpresa:'' %>">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="pass" name="pass" value="<%=locals.pass ? pass:''%>">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Repita su contraseña</label>
          <input type="password" class="form-control" id="pass2" name="pass2" value="<%=locals.pass2 ? pass2:''%>">
        </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Razón social</label>
                <input type="text" class="form-control" id="razon" name="razon" value="<%= locals.razon ? razon:''%>">
              </div> 
              <div class="mb-3"> 
                <label for="exampleInputRUT1" class="form-label">RUT</label> 
                <input type="text" class="form-control" id="rut" name="rut" value="<%= locals.rut ? rut:''%>">
              </div>
        <div class="mb-3">
          <p>¿Ya eres Usuario? <a href="/login" class="link-info">Ingresa aquí</a></p>
          <div class="d-grid gap-2">
            <button type="submit" class="text-uppercase btn btn-dark">Registrar empresa</button>
          </div>
      </form>
      <br>
      <% if (typeof validaciones != 'undefined') { %>
        <% validaciones.forEach( (validacion) => { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong><%= validacion.msg %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } ) %>
    <% } %>
    <%- include("template/footer") %>