{{>navigation}}
<section class="container my-5">
    {{#if product}}
    <form method="POST" action="/create?idProducto={{product.idProducto}}" enctype="multipart/form-data"
        class="needs-validation" novalidate>
        {{else}}
        <form method="POST" action="/create?newPublication=true" enctype="multipart/form-data" class="needs-validation"
            novalidate>
            {{/if}}
            <div class="card d-flex p-3 mb-5 bg-body rounded s">
                <div class="card-body">
                    <div class="mb-3">
                        <h3>Datos de la publicación</h3>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="titulo" id="titulo" type="text" placeholder="Titulo del producto" value="{{titulo}}" required>
                            <label for="title">Título del producto</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" maxlength="155" rows="4" style="height:100%;" required></textarea>
                            <label for="title">Descripción del producto</label>
                        </div>
                        <label for="formFile">Imágen/es para la publicación</label>
                        <input class="form-control" type="file" id="formFile" name="imagen" placeholder="Imageasdasdsadn" multiple> <br>
                        <div class="form-floating mb-3">
                            <input class="form-control input-number" name="precio" id="precio" type="number" placeholder="Precio ($)" value="{{precio}}" required>
                            <label for="precio">Precio ($)</label>
                        </div>
                        <input type="checkbox" name="confirm-descuento" id="confirm-descuento">
                        <label for="confirm-descuento">Añadir descuento</label>
                        <div class="form-floating mb-3">
                            <input class="form-control input-number" name="descuento" id="descuento" type="number" placeholder="Descuento (%)" onKeyPress="if(this.value.length==2) return false;" required>
                            <label for="descuento">Descuento (%)</label>
                        </div>
                        {{!-- <input class="form-control" value="" name="" id="" type="text" placeholder=""> --}}
                    </div>
                    {{#if product}}
                    {{#with product}}
                    <h3>Publicación basada</h3>
                    <p>{{categoria}}</p>
                    <p>{{genero}}</p>
                    <p>{{material}}</p>
                    <p>{{marca}}</p>
                    {{/with}}
                    {{else}}
                    <div class="mb-3">
                        <h3>Caracteristicas del producto</h3>
                        <input type="text" class="form-control text-uppercase" list="categoria" name="categoria"
                            placeholder="SELECCIONE UNA CATEGORIA" required />
                        <datalist name="categoria" id="categoria" class="">
                            <option value="">Seleccione una categoría</option>
                            {{#each categorias}}
                            <option class="text-uppercase" value="{{categoria}}">{{categoria}}</option>
                            {{/each}}
                        </datalist> <br>

                        <select class="text-uppercase form-select" name="genero" id="genero" required>
                            <option value="">Seleccione un género</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            <option value="Unisex">Unisex</option>
                        </select> <br>
                        <select class="text-uppercase form-select" name="material" id="material" required>
                            <option value="">Seleccione un material</option>
                            {{#each materiales}}
                            <option value="{{material}}">{{material}}</option>
                            {{/each}}
                        </select> <br>
                        <input type="text" class="form-control text-uppercase" list="marca" name="marca"
                            placeholder="SELECCIONE O INGRESE UNA MARCA" required />
                        <datalist name="marca" id="marca">
                            <option class="text-uppercase">Seleccione o ingrese una marca</option>
                            {{#each marcas}}
                            <option class="text-uppercase" value="{{marca}}">{{marca}}</option>
                            {{/each}}
                        </datalist> <br>
                        {{!-- <div>
                            <select class="text-uppercase form-select" name="colores" id="colores">
                                <option value="0">Seleccione un color</option>
                                {{#each colores}}
                                <option value="{{color}}">{{color}}</option>
                                {{/each}}
                            </select> <br>
                            <p id="textColores">¿No encuentras el color que buscas? Agrégalo tu mismo.</p>
                            <button type="button" class="btn btn-success" name="addColor" id="addColor">Añadir
                                color</button>
                        </div> --}}
                    </div>
                    {{/if}}
                    {{!-- <button type="button" class="btn btn-outline-dark btn-lg custom">{{talle}}</button> --}}
                    <div class="my-3">
                        <h3>Selección de talles</h3> 
                        {{#each talles}}
                        <div class="form-check d-inline m-0 p-0">
                            <input type="checkbox" class="btn-check" name="{{talle}}" id="btn-{{talle}}"
                                autocomplete="off">
                            <label class="btn btn-outline-dark btn-lg shadow-none" for="btn-{{talle}}"
                                style="width: 100px;">{{talle}}</label>
                        </div>
                        {{/each}}
                    </div>
                    <div class="my-3">
                        <h3>Selección de colores</h3> 
                        {{#each colores}}
                        <div class="form-check d-inline m-0 p-1">
                            <input type="checkbox" value="{{color}}" name="{{color}}">
                            
                            <label class="btn btn-outline-dark btn-lg" for="btn-{{color}}" style="width: 100px;" id="btn-{{color}}">ㅤㅤ</label>  
                        </div>
                        {{/each}}
                        
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
                        <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-check"></i>
                            Publicar</button>
                        <button type="reset" class="btn btn-danger btn-lg"><i class="fas fa-trash"></i>
                            Descartar</button>
                    </div>
                    {{#if success}}
                    <p class="text-success text-center mt-1">{{success}}</p>
                    <p><a href="/publication/{{id}}">Click aquí</a> para verla </p>
                    {{/if}}
                    {{#if message}}
                    <p class="text-danger text-center mt-1">{{message}}</p>
                    {{/if}}
                </div>
            </div>
        </form>
</section>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{{>footer}}