{{>navigation}}
<section class="container my-5">
    {{#if product}}
    <form method="POST" action="/create?idProducto={{product.idProducto}}" enctype="multipart/form-data" class="needs-validation" novalidate>
    {{else}}
    <form method="POST" action="/create?newPublication=true" enctype="multipart/form-data" class="needs-validation" novalidate></form>
    {{/if}}
    {{#with bodyRender}}
        <div class="row">
            {{!-- DATOS DE LA PUBLICACION --}}
            <div class="col">
                <h1>Formulario</h1>
                <div class="form-floating mb-3">
                    <input class="form-control" name="titulo" id="titulo" type="text" placeholder="Titulo del producto" value="{{titulo}}" required>
                    <label for="titulo">Título del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción del producto" maxlength="155" rows="4" style="height:100%;" required></textarea>
                    <label for="descripcion">Descripción del producto</label>
                </div>
                <div class="mb-3">
                    <label for="formFile">Imágen/es para la publicación</label>
                    <input class="form-control" type="file" id="formFile" name="imagen" placeholder="Imageasdasdsadn" multiple> <br>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control input-number" name="precio" id="precio" type="number" placeholder="Precio ($)" value="{{precio}}" required>
                            <label for="precio">Precio ($)</label>
                        </div>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="confirm-descuento" id="confirm-descuento" class="form-control-file">
                        <label for="confirm-descuento">Añadir descuento</label>
                        <div class="form-floating mb-3">
                            <input class="form-control input-number" name="descuento" id="descuento" type="number" placeholder="Descuento (%)" onKeyPress="if(this.value.length==2) return false;" required>
                            <label for="descuento">Descuento (%)</label>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- DATOS DEL PRODUCTO --}}
            <div class="col">
                <h1>Datos del producto</h1>
                {{#if ../product}}
                    {{#with ../product}}
                        <h3>Publicación basada</h3>
                        <p>{{categoria}}</p>
                        <p>{{genero}}</p>
                        <p>{{material}}</p>
                        <p>{{marca}}</p>
                    {{/with}}
                {{else}}
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" name="categoria" id="categoria" list="categoria" placeholder="Seleccione una categoría" value="{{categoria}}" style="height: 58px;" required>
                        <label for="categoria">Categoría del producto</label>
                        <datalist name="categoria" id="categoria">
                            {{#each categorias}}
                                <option class="text-uppercase" value="{{categoria}}">{{categoria}}</option> 
                            {{/each}}
                        </datalist>
                        {{!-- <input type="text" class="form-control text-uppercase" list="categoria" name="categoria" placeholder="SELECCIONE UNA CATEGORIA" style="height: 58px;" required> --}}
                    </div>
                    <div class="mb-3">
                        <select class="text-uppercase form-select" name="genero" id="genero" required>
                            <option value="">Seleccione un género</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            <option value="Unisex">Unisex</option>
                        </select>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control text-capitalize" list="material" name="material" placeholder="Seleccione el material del producto" value="{{material}}" required />
                        <label for="material">Material del producto</label>
                        <datalist name="material" id="material">
                            {{#each materiales}}
                                <option value="{{material}}">{{material}}</option>
                            {{/each}}
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control text-uppercase" list="marca" name="marca" placeholder="SELECCIONE O INGRESE UNA MARCA" value="{{marca}}" required />
                        <datalist name="marca" id="marca">
                            {{#each marcas}}
                                <option class="text-uppercase" value="{{marca}}">{{marca}}</option>
                            {{/each}}
                        </datalist>
                    </div>
                {{/if}}
            </div>
        </div>
    {{/with}}
    </form>
</section>