{{>navigation}}
<section class="container my-5">
    <form method="POST" action="/create">
        <div class="mb-3">
            <h2>Datos de la publicación</h2>
            <input class="form-control" name="titulo" id="titulo" type="text" placeholder="Titulo">
            <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
            <input class="form-control" name="precio" id="precio" type="text" placeholder="Precio">
            
            {{!-- <input class="form-control" value="" name="" id="" type="text" placeholder=""> --}}
        </div>
        <div class="mb-3">
            <h2>Caracteristicas del producto</h2>
            <select class="form-select" name="categoria" id="categoria">
                <option value="">Seleccione una categoría</option>
                {{#each categorias}}
                    <option value="{{categoria}}">{{categoria}}</option>
                {{/each}}
            </select>
            <select class="form-select" name="genero" id="genero">
                <option value="0">Seleccione un género</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Unisex">Unisex</option>
            </select>
            <select class="form-select" name="material" id="material">
                <option value="0">Seleccione un material</option>
                {{#each materiales}}
                    <option value="{{material}}">{{material}}</option>
                {{/each}}
            </select>
            <select class="form-select" name="marca" id="marca">
                <option value="0">Seleccione la marca</option>
                {{#each marcas}}
                    <option value="{{marca}}">{{marca}}</option>
                {{/each}}
            </select>
        </div>
        <div class="">
            <button type="submit" class="btn btn-success">ENVIAR</button>
        </div>
    </form>
</section>
{{>footer}}