{{>navigation}}
<div class="container">
    {{!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="filter" id="reply">
        <label class="form-check-label" for="reply">Preguntas respondidas</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="filter" id="noreply">
        <label class="form-check-label" for="noreply">Preguntas sin responder</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="filter" id="all" checked>
        <label class="form-check-label" for="all">Todas las preguntas</label>
    </div> --}}
    <br>
    <div class="d-flex justify-content-center">
        <a href="/list/questions/reply"><button style="margin-right: 10px;" class="btn btn-primary">Preguntas respondidas</button></a>
        <a href="/list/questions/noreply"><button style="margin-right: 10px;" class="btn btn-primary">Preguntas sin responder</button></a>
        <a href="/list/questions/all"><button style="margin-right: 10px;" class="btn btn-primary">Todas las preguntas</button></a>
    </div>
    {{#if result}}
    <div class="table-responsive table-lg mt-3">
        <table class="table table-striped table-bordered table-hover border-3 text-center">
            <thead>
                <tr>
                    <th>Remitente</th>
                    <th>Fecha</th>
                    <th class="max-width">Mensaje</th>
                    <th>Publicación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                <tr>
                    <td class="text-nowrap align-middle"><span>{{nombreRemitente}}</span></td>
                    <td class="text-nowrap align-middle"><span>{{timeago fechaPregunta}}</span></td>
                    <td class="text-center align-middle"><span>{{mensaje}}</span></td>
                    <td class="text-center align-middle"><span>{{titulo}}</span></td>
                    <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <a href="/publication/{{nroPublicacion}}" class="btn btn-outline-dark link-unstyled"><i class="fas fa-eye"></i></a>
                        </div>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <div class="row d-flex justify-content-center">
                    <div class="col-10 p-5 text-center">
                        <div>
                            <h2>No se encontraron preguntas</h2>
                        </div>
                    </div>
                {{/if}}
            </tbody>
        </table>
        {{>pagination}}
    </div>
</div>