{{>navigation}}
<div class="container">
     {{#if publicacion}}
    <div class="table-responsive table-lg mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Publicacion</th>
                    <th>Precio</th>
                    <th class="max-width">Descripcion</th>
                    <th>Comentarios</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                    {{#each publicacion}}
                    <tr>
                        <td class="text-nowrap align-middle"><span>{{titulo}}</span></td>
                        <td class="text-nowrap align-middle"><span>{{precio}}</span></td>
                        <td class="text-center align-middle"><span>{{descripcion}}</span></td>
                        <td class="text-center align-middle"><span>{{cantPreguntas}}</span></td>
                        <td class="text-center align-middle">
                            <div class="btn-group align-top">
                                <form action="/list/edit/{{nroPublicacion}}" method="GET">
                                    <button class="btn btn-primary">Editar</button>
                                </form>
                                <form action="/list/delete/{{nroPublicacion}}" method="POST">
                                    <button class="btn btn-danger">Eliminar</button>
                                </form>
                                <a href="/publication/{{nroPublicacion}}" class="btn btn-secondary link-unstyled">Ver</a>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                {{else}}
            <div class="row d-flex justify-content-center">
                <div class="col-10 p-5 text-center">
                    <div>
                        <h2>No se encontraron publicaciones</h2>
                    </div>
                    <div class="text-muted">
                        <p>Aquí encontrarás todos las publicaciones que hayas creado. A pesar de que no hayas creado ninguna todavía, lo puedes hacer en la sección "Hacer publicación"</p>
                        <a href="/create?newPublication=true">Hacer una publicación</a>
                    </div>
                </div>
            </div>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>