{{>navigation}}

<body style="overflow-x: hidden;">
    <div class="row">
        {{!-- SIDEBAR --}}
        <div class="col-md-12 col-lg-5" id="sidebar" style="background-color: #fafafa;">
            <div class="sticky-top pt-sm-0 pt-md-0 pt-lg-5 pt-xl-5" style="z-index: 1">
                <div class="position-relative m-5 p-lg-2 p-xl-4">
                    {{#with publication}}
                    {{!-- Detalles de la publicación --}}
                    <div>
                        <div class="mb-1 text-capitalize">
                            <a href="/search?key={{categoria}}"><span class="badge rounded-pill bg-dark">{{categoria}}</span></a>
                            <a href="/search?key={{genero}}"><span class="badge rounded-pill bg-dark">{{genero}}</span></a>
                            <a href="/search?key={{marca}}"><span class="badge rounded-pill bg-dark">{{marca}}</span></a>
                            {{#if descuento}}
                                <a href="/search?sale=1"><span class="badge rounded-pill bg-danger">sale</span></a>
                            {{/if}}
                        </div>
                        <div>
                            <h3 class="fw-bold">{{titulo}}</h3>
                            <a href="/profile/{{nombreVendedor}}" class="link-unstyled">
                                <h6 class="text-muted d-inline f-space-2">Promocionado por <span>{{nombreVendedor}}</span></h6><br>
                            </a>
                            <small class="text-muted">{{timeago fechaPublicacion}}</small>
                        </div>
                        <div class="mt-3">
                            <div>
                                <h6>Descripción del producto</h6>
                                <p> {{descripcion}} </p>
                            </div>
                            <div>
                                <div class="row d-flex">
                                    {{#if descuento}}
                                    <div class="col-auto h1">
                                        <span>${{descuento}}</span>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">{{porcentaje}}% descuento</p>
                                        <span class="mr-1"><del>${{precio}}</del></span>
                                    </div>
                                    {{else}}
                                    <div class="col-auto h1">
                                        <span>${{precio}}</span>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- Detalles del producto --}}
                    <div class="my-3">
                        {{#if ../sizes}}
                        <div class="my-3">
                            <h6>Talles disponibles</h6>
                            <div>
                                {{#each ../sizes}}
                                <button type="button" class="btn btn-outline-dark btn-lg custom">{{talle}}</button>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                        {{#if ../colors}}
                        <div class="my-3">
                            <h6>Colores disponibles</h6>
                            <div>
                                {{#each ../colors}}
                                    <button type="button" class="btn btn-default btn-circle btn-outline-dark product-color" id="btn-{{color}}" style="width: 36px; height: 36px;"></button>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                        {{#if ../user}}
                            {{#ifCond ../user.data.tipo '==' 'usuario'}}
                                <div>
                                    <form action="/publication/addFavorite/{{nroPublicacion}}" method="POST">
                                        {{#if ../favorite}}
                                            <button title="Eliminar de favoritos" class="btn btn-default position-absolute top-0 end-0 m-1 p-1"><i class="fas fa-heart" style="font-size: xx-large;"></i></button>
                                        {{else}}
                                            <button title="Agregar a favoritos" class="btn btn-default position-absolute top-0 end-0 m-1 p-1"><i class="far fa-heart" style="font-size: xx-large;"></i></button>
                                        {{/if}}
                                    </form>
                                </div>
                            {{else}}
                                {{#ifCond ../user.data.email '==' emailVendedor}}
                                    <a title="Editar publicación" href="/list/edit/{{nroPublicacion}}" class="btn btn-default position-absolute top-0 end-0 m-1 p-1"><i class="fas fa-pen" style="font-size: xx-large;"></i></a>
                                {{else}}
                                    <div class="text-muted fw-bold">
                                        <p>¿Vendes un producto igual? <a href="/create?idProducto={{idProducto}}">Crea una publicación similar</a></p>
                                    </div>
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/if}}
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>

        {{!-- CONTENIDO --}}
        <div class="col-md-12 col-lg-6 col-xl-5 me-auto ms-auto" id="content">

            {{!-- CAROUSEL DE IMAGENS --}}
            <section class="mx-3 mx-lg-1 my-4" id="seccion-imagen">
                <div class="col-md-10 ms-auto me-auto">
                    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {{#if images}}
                                {{#each images}}
                                    {{#ifCond @index '==' 0}}
                                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{@index}}" class="active" aria-current="true"></button>
                                    {{else}}
                                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{@index}}"></button>
                                    {{/ifCond}}
                                {{/each}}
                            {{else}}
                                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
                            {{/if}}
                        </div>
                        <div class="carousel-inner">
                            {{#if images}}
                                {{#each images}}
                                    {{#ifCond @index '==' 0}}
                                        <div class="carousel-item active">
                                            <img src="data:imagen/png;base64, {{imagen}}" class="d-block w-100" alt="...">
                                        </div>
                                    {{else}}
                                        <div class="carousel-item">
                                            <img src="data:imagen/png;base64, {{imagen}}" class="d-block w-100" alt="...">
                                        </div>
                                    {{/ifCond}}
                                {{/each}}
                            {{else}}
                                <div class="carousel-item active">
                                    <img src="/img/generic/publication.png" class="d-block w-100" alt="...">
                                </div>
                            {{/if}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </section>

            {{!-- SECCION DE PREGUNTAS --}}
            <section class="mx-4 mx-lg-1 mb-3" id="seccion-preguntas">
                <h3 class="fw-bold">Preguntas y respuestas</h3>

                {{!-- Formulario de pregunta --}}
                <div class="mb-3">
                    {{#if user}}
                    {{#ifCond user.data.tipo '==' 'usuario'}}
                    <form action="/publication/question/{{publication.nroPublicacion}}" method="POST">
                        <div class="row">
                            <p for="question" class="fs-5 fw-bold">Pregúntale a la tienda</p>
                            <div class="col">
                                <div class="form-floating">
                                    <textarea class="form-control" name="mensaje" id="mensaje"
                                        placeholder="Escribe tu pregunta" maxlength="145" rows="5" style="height:100%;"
                                        required></textarea>
                                    <label for="mensaje">Escribe tu pregunta</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button title="Enviar pregunta" type="submit"
                                    class="text-uppercase rounded-0 btn btn-dark" style="height: 100%; width: 100%;"><i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                            <small class="text-muted">Limite de caracteres permitido por pregunta: 145</small>
                        </div>
                    </form>
                    {{/ifCond}}
                    {{else}}
                    <div class="my-2">
                        <div class="mt-2 ms-4 text-muted">
                            <p>Necesitas una cuenta para poder realizar preguntas</p>
                        </div>
                    </div>
                    {{/if}}
                </div>

                {{!-- Listado de preguntas y respuestas --}}
                <div>

                    {{!-- Esta seccion aparece si existen preguntas realizadas por el propio usuario --}}
                    {{!-- <div>
                        <h5 class="text-muted">Tus preguntas</h5>
                        <div class="my-2">
                            <div>
                                <p class="mb-2">¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias illum
                                    quidem
                                    ducimus ut voluptatibus ipsam, eum obcaecati dicta nostrum adipisci illo ratione aut
                                    nihil voluptatem minus provident ab nulla ex?</p>
                            </div>
                            <div class="ms-4 text-muted">
                                <a href="/profile" class="link-unstyled">
                                    <div class="montserrat d-inline">
                                        <span class="fw-bold">Nombre de la tienda</span>
                                        <span class="badge rounded-pill bg-secondary ms-1">Respuesta del vendedor</span>
                                    </div>
                                </a>
                                <div class="d-flex">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt vitae
                                        doloribus
                                        excepturi, quaerat ducimus quod tenetur repellat deleniti totam a harum!
                                        Expedita
                                        temporibus ad dolorum culpa. Ipsam aliquam fugit facilis.<span
                                            class="ms-3">19/09/2021</span></p>
                                </div>
                            </div>
                        </div>
                    </div> --}}

                    <div>
                        <h5 class="text-muted">Preguntas realizadas</h5>
                        {{#if questions}}
                        {{#each questions}}
                        <div class="my-1">
                            <div class="mb-2 text-break">
                                <span>{{mensaje}}</span>
                                <span class="ms-3 text-muted">{{timeago fechaPregunta}}</span>
                                {{#ifCond ../user.data.email '==' emailRemitente}}
                                    <form action="/publication/question/delete/{{idPregunta}}" method="POST" class="d-inline">
                                        <button title="Eliminar pregunta" class="btn mx-1 p-0"><i class="fas fa-times" style="color: red;"></i> </button>
                                    </form>
                                {{/ifCond}}
                            </div>
                            {{#if respuesta}}
                                <div class="ms-4 text-muted">
                                    <a href="/profile/{{../publication.nombreVendedor}}?page=1" class="link-unstyled">
                                        <div class="montserrat d-inline">
                                            <span class="fw-bold">{{../publication.nombreVendedor}}</span>
                                            <span class="badge rounded-pill bg-secondary ms-1">Respuesta</span>
                                        </div>
                                    </a>
                                    <div class="d-flex">
                                        <p>{{respuesta}}</p>
                                    </div>
                                </div>
                            {{else}}
                                {{#if ../user}}
                                    {{#ifCond ../user.data.email '==' ../publication.emailVendedor}}
                                        <div id="textAnswer" class="mb-3">
                                            <form action="/publication/answer/{{idPregunta}}?section=publication" method="POST">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating">
                                                            <textarea class="form-control" name="respuesta" id="respuesta"
                                                                placeholder="Responde la pregunta" maxlength="145" rows="3"
                                                                style="height:100%;" required></textarea>
                                                            <label for="respuesta">Responde la pregunta</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button title="Enviar respuesta" type="submit" class="text-uppercase rounded-0 btn btn-dark" style="height: 100%; width: 100%;"><i class="fas fa-angle-right"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {{/ifCond}}
                                {{/if}}
                            {{/if}}
                        </div>
                        {{/each}}
                        {{else}}
                            {{!-- Cuando la publicación no tiene preguntas --}}
                            <div class="my-2">
                                <div class="mt-2 ms-4 text-muted">
                                    <p>Aún nadie ha realizado una pregunta sobre este producto{{#ifCond user.data.tipo '==' 'usuario'}}, ¡sé el primero en hacerlo!{{/ifCond}}</p>
                                </div>
                            </div>
                        {{/if}}
                        {{#ifCond qLimit.count '>' 8}}
                            <div class="mb-5 d-grid gap-2">
                                <button class="btn btn-dark"><a href="/publication/{{publication.nroPublicacion}}/comments" class="link-unstyled">Ver todas las preguntas</a></button>
                            </div>
                        {{/ifCond}}
                    </div>
                </div>
            </section>

            {{!-- SECCIÓN DE TIENDA Y RECOMENDACIONES --}}
            <section class="mx-4 mx-lg-1 mb-5" id="seccion-tienda">

                {{!-- SOBRE NOSOTROS --}}
                {{#if profile.descripcion}}
                {{#with profile}}
                <div class="mb-3 d-flex justify-content-center">
                    <div class="card mb-3 col-md-10 col-sm-9">
                        <div class="row my-3 justify-content-center">
                            <div class="col-sm-12 col-md-3 jumbotron d-flex align-items-center justify-content-center">
                                {{#if fotoPerfil}}
                                <img src="data:imagen/png;base64, {{fotoPerfil}}" alt="Generic placeholder image"
                                    class="img-fluid rounded-circle img-thumbnail" style="width: 75%; z-index: 1">
                                {{else}}
                                <img src="/img/avatar.png" alt="Generic placeholder image" class="img-fluid rounded-circle" style="width: max-content; z-index: 1" id="imagen">
                                {{/if}}
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h3 class="card-title text-center f-space-3">Sobre nosotros</h3>
                                    <p class="card-text">{{descripcion}}</p>
                                    <div class="d-flex">
                                        <a href="/profile/{{../publication.nombreVendedor}}" class="link-unstyled ms-auto">
                                            <span class="card-subtitle d-inline text-muted carattere me-3">{{../publication.nombreVendedor}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/if}}

                {{!-- RECOMENDACIONES --}}
                {{#if recommendations}}
                <div class="mb-3">
                    <h4 class="fw-bold mb-3">Otras publicaciones de {{publication.nombreVendedor}}</h4>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-2">
                        {{#each recommendations}}
                        {{>products}}
                        {{/each}}
                    </div>
                    <div class="d-grid gap-2">
                        <a href="/profile/{{publication.nombreVendedor}}" class="btn btn-dark link-unstyled">Ver más
                            publicaciones de {{publication.nombreVendedor}}</a>
                    </div>
                </div>
                {{/if}}
            </section>
        </div>
    </div>
</body>