{{>navigation}}
<div class="container mt-5">
    <h5 class="text-muted">Preguntas realizadas</h5>
    {{#if questions}}
        {{#each questions}}
            <div class="my-3">
                <div>
                    <p class="mb-2">{{mensaje}}<span class="ms-3 text-muted">{{timeago fechaPregunta}}</span></p>
                </div>
                {{!-- <h1>{{../user.data.email}}</h1>
                <h1>{{emailVendedor}}</h1> --}}
                {{#if respuesta}}
                    <div class="ms-4 text-muted">
                        <a href="/profile" class="link-unstyled">
                            <div class="montserrat d-inline">
                                <span class="fw-bold">{{nombreVendedor}}</span>
                                <span class="badge rounded-pill bg-secondary ms-1">Respuesta</span>
                            </div>
                        </a>
                        <div class="d-flex">
                            {{!-- El comentario contiene la fecha de la respuesta --}}
                            <p>{{respuesta}} {{!-- <span class="ms-3">{{timeago fechaRespuesta}}</span> --}}</p>
                        </div>
                    </div>
                {{else}}
                    {{#ifCond ../user.data.email '==' emailVendedor}}
                        {{!-- <button id="btnAnswer" class="btn btn-outline-dark">Responder pregunta</button> --}}
                        <div id="textAnswer" class="mb-3">
                            <form action="/publication/answer/{{idPregunta}}?section=comments" method="POST">
                                <div class="row">
                                    <label for="respuesta">Responder</label>
                                    <div class="col">
                                        <textarea class="form-control text-area rounded-0" name="respuesta" id="respuesta" placeholder="Ingrese su respuesta"></textarea>
                                    </div>
                                    <div class="col-auto">
                                        <button title="Enviar respuesta" type="submit" class="text-uppercase rounded-0 btn btn-dark" style="height: 100%; width: 100%;"><i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {{/ifCond}}
                {{/if}}
            </div>
        {{/each}}
    {{/if}}
</div>